@model E_Tender.Models.Tender

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tender</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tender_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tender_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Base_price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Base_price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.assigned)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.assigned)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Starting_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Starting_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ending_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ending_Date)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Tender_Id">Edit</a> |
    <a asp-action="Tender">Back to List</a>
</div>
